<template name="groups-overview">
	<body>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Groups</h3>
			</div>
			<div class="panel-body">
				<div class="pull-right">
					<a href={{urlFor 'group-add'}} class="btn btn-default">
						<i class="fa fa-plus fa-fw fa-lg"></i>
						Add group
					</button>
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Number</th>
					</tr>
				</thead>
				<tbody>
					{{#each orders}}
						<tbody>
							<tr>
								<td>{{name}}</td>
								<td>{{number}}</td>
							</tr>
						</tbody>
					{{/each}}
				</tbody>
			</table>
		</div>
	</body>
</template>