<template name="mainLayout">
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{urlFor 'main'}}">
					<i class="fa fa-coffee fa-2x fa-fw pull-left"></i>
					CoffeeManager.io
				</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				{{> yield region='header'}}
			</div>
		</div>
	</header>
	<div id="wrap">
		<div class="container">
			{{> yield}}
		</div>
		<div id="push"></div>
	</div>
	<footer>
		<div class="container">
			{{> yield region='footer'}}
		</div>
	</footer>
</template>