<template name="mainLayout">
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{urlFor 'main'}}">
					<i class="fa fa-coffee fa-2x pull-left"></i>
					CoffeeManager
				</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				{{yield 'header'}}
			</div>
		</div>
	</header>
	<div class="container">
	{{#if currentUser}}
		{{yield}}
	{{else}}
		<div class="well">
			<h1>Welcome to CoffeeManager!</h1>
			<h4>
				Sign up, login and join your group to enjoy your fresh cup of coffee!
			</h4>
		</div>
	{{/if}}
	</div>
</template>