<template name="header">
	<ul class="nav navbar-nav">
		{{#if currentUser}}
			<li>
				<a href="{{urlFor 'orders'}}">
					<i class="fa fa-tags fa-fw fa-lg"></i>
					Orders
				</a>
			</li>
			<!-- <li><a href="#">Groups</a></li>
			<li><a href="#">Statistics</a></li> -->
		{{/if}}
	</ul>
	<ul class="nav navbar-nav navbar-right">
		{{#if currentUser}}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{{userName}}
					<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li><a id="btnLogout">Logout</a></li>
				</ul>
			</li>
		{{else}}
			{{loginButtons align="right"}}
		{{/if}}
	</ul>
</template>